*{
    box-sizing: border-box;
}
*:focus{
    outline:none;
}
:root{
    --fb-blue: #0a86f0;
    --fb-black: #090909;
    --fb-red: #ee2340;
    --fb-green: #3db557;
    --fb-yellow: #f6b023;
    --fb-bgcolor: #eef0f3;
    --fb-white: #ffffff;
    --fb-whitebg: #ffffff;
    --dark-color-text: #090909;
    --light-color-text: #606770;
    --button-link: #e0e2e8;
    --stories-bg: #090909;
    }
    /* Header Information Below */
    body{
        background: var(--fb-bgcolor);
        font-family: Helvetica, Arial, sans-serif;
        color: var(--fb-black);
    }
    header{
        background: var(--fb-whitebg);
        height: 62px;
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 20;
        top: 0;
        left:0;
    }
    .header__logo-section{
        display: flex;
    }
    .header__logo-icon .fa-facebook{
        font-size: 40px;
        color:var(--fb-blue);
    }
    .header__logo-search{
        position:relative;
        margin-left: 10px;
    }
    .header__logo-search .fa-search{
        position: absolute;
        top: 14px;
        left: 10px;
        color: var(--light-color-text);
    }
    .header__logo-search input[type="text"]{
        background: var(--fb-bgcolor);
        padding: 10px;
        border-radius: 25px;
        font-size: 1.2rem;
        color:var(--light-color-text);
        padding-left: 35px;
        font-weight: 300;
        border: none;
    }
    .header__menu-tabs{
        display:flex;
        max-width: 600px;
        width: 100%;
        flex:none;
    }
    .header__menu-tab{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 62px;
        border-bottom: 4px solid var(--fb-whitebg);
        color: var(--light-color-text);
        cursor: pointer;
        font-size: 1.3rem;
    }
    .header__menu-tab--active, .header__menu-tab:hover{
        border-bottom: 4px solid var(--fb-blue);
    }
    .header__menu-tab:hover .fas, .header__menu-tab:hover .fab{
        color: var(--fb-blue);
    }
    .header__menu-tab--active .fas, .header__menu-tab--active .fab {
        color: var(--fb-blue);
    }
    .header__menu-tab .fas, .header__menu-tab .fab{
        position:relative;
    }
    .header__notification-bubble{
        font-family: Arial, Helvetica, sans-serif;
        background: var(--fb-red);
        color: white;
        width:20px;
        height:20px;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -12px;
        right: -10px;
        font-weight: 700;
    }
.header__account{
    display: flex;
    
}
.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user-img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.header__user-name{
    font-size: .9rem;
    font-weight: 600;
    margin-right: 20px;
}
.header__circle-link{
    background: var(--button-link);
    height: 40px;
    width: 40px;
    display: flex;
    border-radius: 50%;
    color:var(--dark-color-text);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}
.header__circle-link .fa-sort-down{
    position: relative;
    top: -3px;
    font-size: 1.4rem;
}
.header__link-icon{
    font-size: .9rem;
}
.header__actions-notification-bubble{
    font-family: Arial,
    Helvetica,
    sans-serif;
    background: var(--fb-red);
    color: white;
    width:20px;
    height:20px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    bottom: 35px;
    font-weight: 700;
}
/* Side Navigation Left */
.content-area--feed{
    padding:90px 15px 20px 15px;
    display:flex;
}
.sidenav__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidenav__item-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right:20px;
}
.sidenav__item-title{
    font-size: 1rem;
    font-weight: 400;
}
.sidenav__item-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 20px;
}
.sidenav__item-notification{
    color: var(--fb-blue);
    margin-top: 5px;
    font-size: .75rem;
    display: block;
    font-weight: 300;
}
.sidenav__item-notification-circle{
    background: var(--fb-blue);
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.sidenav__item-icon--circle{
    background: var(--button-link);
    border-radius: 50%;
    font-size: .9rem;
}
.sidenav__item-icon--circle-white {
    background: var(--icon-circle-bg);
    border-radius: 50%;
    font-size: 1rem;
}
.sidenav__item-icon .fas, .sidenav__item-icon .fab{
    color: var(--fb-blue);
}